{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% include "home/blocks/hero_block.html" with page_obj=page %}

{# 2-4. FEATURE BLOCKS (Render StreamField) #}
{#<div class="feature-blocks-container">#}
    {#% for block in page.body %#}
    {#% include_block block %#}
    {#% endfor %#}
    {#</div>#}

<section class="py-5 text-center">
    <div class="container">
        <!-- Intro text -->
        <div class="row mb-5">
            <div class="col-lg-12 text-start fs-3 px-3">
                {{page.intro_text|richtext}}
            </div>
        </div>

        <!-- Icon grid -->
        <div class="row justify-content-center g-4">

            <div class="col-6 col-md-3">
                <div class="feature-icon  mx-auto mb-3" style="background-color: #00bd00;">
                    <img src="{% static 'images/find-icon.png'%}" alt="Find Programs" class="icon-img">
                </div>
                <h6 class="fw-bold">Find<br>Programs</h6>
            </div>

            <div class="col-6 col-md-3">
                <div class="feature-icon  mx-auto mb-3" style="background-color: #8842ff;">
                    <img src="{% static 'images/home-icon.png'%}" alt="STEM at Home" class="icon-img">
                </div>
                <h6 class="fw-bold">STEM at<br>Home</h6>
            </div>

            <div class="col-6 col-md-3">
                <div class="feature-icon mx-auto mb-3" style="background-color: #ff8400;">
                    <img src="{% static 'images/insights-icon.png'%}" alt="Insights and Articles" class="icon-img">
                </div>
                <h6 class="fw-bold">Insights &<br>Articles</h6>
            </div>

            <div class="col-6 col-md-3">
                <div class="feature-icon  mx-auto mb-3" style="background-color: #ff0012;">
                    <img src="{% static 'images/essentials-icon.png'%}" alt="The Essentials" class="icon-img">
                </div>
                <h6 class="fw-bold">The<br>Essentials</h6>
            </div>

        </div>
    </div>
</section>


{# 5. FEATURED INSIGHTS & RESOURCES #}

<section class="featured-blogs-section py-5 bg-light-gray">
    {% if page.featured_post_list %}
    <div class="container">
        <h2 class="text-center display-6 fw-bold mb-5">Insights & Resources</h2>

        <div class="row g-4 justify-content-center bg-white">
            {% for post in page.featured_post_list %}
            <div class="col-12 col-md-6 col-lg-4 px-md-5 mb-md-4">
                {% include "cast/bootstrap4/article_card.html" with post=post display_description=False %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <section class="py-5 bg-light">
        <div class="container px-7">
            <div class="newsletter-box mx-auto p-4 p-md-5">
                <div class="row align-items-center">
                    <div class="col mb-4 mb-lg-0">
                        <span class="newsletter-eyebrow">
                            Stay in the STEM loop
                        </span>

                        <h2 class="fw-bold mt-2 mb-2">
                            Opportunities, ideas &amp; events straight to your inbox
                        </h2>

                        <p class="text-muted mb-0">
                            Be the first to know about new STEM programs, opportunities and local events.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center my-4">
                    <div class="col">
                        <form id="newsletter-form" class="d-flex gap-2">
                            <input id="email" name="email" type="email" class="form-control form-control-lg"
                                placeholder="Enter your email address" required>
                            <button type="submit" class="btn btn-warning btn-lg px-4 text-white">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

{% endblock content %}