{% load wagtailcore_tags wagtailimages_tags %}
<section class="hero-section position-relative text-white">
    <div class="hero-bg" {% if page_obj.hero_image %} {% image page_obj.hero_image fill-1920x800 as hero_img %}
        style="background:
         linear-gradient(
           90deg,
           rgba(60,90,160,0.8),
           rgba(60,90,160,0.6)
         ),
         url('{{ hero_img.url }}') center / cover no-repeat;" {% endif %}></div>

    <div class="container h-100 position-relative">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 col-md-8 pt-5 pb-3">
                <h1 class="fw-bold display-5 mt-5 mb-3">
                    {{page_obj.hero_text|richtext}}
                </h1>

                <p class="lead">
                    {{page_obj.hero_description|richtext}}
                </p>
            </div>
        </div>
    </div>
</section>