<div class="modal fade" id="subscribeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-medium-purple text-white border-0">
                <h5 class="modal-title fw-bold">Be the First to Know!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form id="popup-subscribe-form">
                    <div class="mb-3">
                        <input type="email" id="newsletter-email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <button type="submit" class="btn btn-orange w-100 fw-bold">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>