[secret]
key=gotham-steam-in-m@_sef5^t8y3chuxvs1=zz8=g0sx+90n2klhjl&c^!vj



[database]
name=gotham
user=username
password=password
host=localhost
port=5432


[mailchimp]
api_key=-us20
server=us20
audience_id=

[newsletter]
from_name=Gotham STEM
reply_to=info@gothamstem.org


[google]
project_id=gotham-stem
api_key=
recaptcha_site_key=

[oci]
access_key=
secret_key=
namespace=
region=
bucket=
